{
  "arrowParens": "always",
  "endOfLine": "auto",
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "singleQuote": false,
  "printWidth": 120,

  "plugins": ["prettier-plugin-tailwindcss"]
}
